html, body {
  height: 100%;
}

body {
  font: 13px/1.3 Verdana Helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

a: hover {
  text-decoration: underline;
  color: black;
}

/* Headlines has different font sizes */
h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

/* H1 and H2 has underline */
h1, h2 {
  border-bottom: 1px solid #999;
  font-weight: bold;
}

/* ul & li */
ul {
  list-style-type: circle;
  margin-left: -0.4em;
}

li {
  display: list-item;
}

/* school logo */
img[alt="school-logo"] {
  position: absolute;
  top: .3em;
  right: .8em;
  height: 1.7em;
  background-color: #fff;
}

/* avatar */
img[alt="avatar"] {
  position: absolute;
  top: 3.8em;
  right: 1em;
  height: 8.5em;
  background-color: #fff;
}


/* strong fonts as little title */
/* ---- only for those ugly lists !--- */

li em {
  font-size: .7em;
  color: #777;
  font-style: italic;
}

datetime {
  display: inline-block;
  width: 9em;
}

head_ {
  border-bottom: 1px solid #ddd;
  margin-left: .5em;
}

lang {
  float: right;
  font-size: .8em;
  border-bottom: 1px dotted #ddd;
}

description {
  margin-top: .5em; /* away from big title, looks like a block*/
  display: block;
  margin-left: 9.8em;  /* 9 + .5 + .3*/
}

hireable {
  font-size: 1em;
  color: #777;
}

footnote {
  position: absolute;
  bottom: 0;
  display: block;
  font-size: .8em;
  color: #777;
}
